* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
}

li {
	list-style: none;
}

.shelf {
	margin-top: 5vh;
	background-image: url("./images/shelf.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 35.3vh;
	height: 72vh;
}

.cart {
	display: flex;
	position: absolute;
	bottom: 9vh;
	left: calc(50% - 12.5vh);
}

.cart-img {
	width: 100vw;
	height: 40.3vh;
	position: absolute;
	z-index: 20;
	bottom: 0;
	right: 0;
	animation: whatsup 1.5s linear 1;
}

.section-one {
	max-width: 100%;
	height: 21.6vh;
	display: grid;
	justify-items: center;
	align-items: end;
	grid-template-columns: repeat(4, 1fr);
}

.wine {
	width: 6.16vh;
	height: 20.6vh;
}

.milk {
	width: 6.16vh;
	height: 15.1vh;
}

.cake {
	width: 7.66vh;
	height: 6.83vh;
}

.chese {
	width: 6vh;
	height: 5.7vh;
}

.section-two {
	max-width: 100%;
	height: 16.6vh;
	display: grid;
	justify-items: center;
	align-items: end;
	grid-template-columns: repeat(3, 1fr);
}

.beef {
	width: 9.16vh;
	height: 8.33vh;
}

.checken {
	width: 9.16vh;
	height: 9.16vh;
}

.cheeps {
	width: 11.7vh;
	height: 7.8vh;
}

.section-three {
	max-width: 100%;
	height: 15.3vh;
	display: grid;
	justify-items: center;
	align-items: end;
	grid-template-columns: repeat(4, 1fr);
}

.pineapple {
	width: 6vh;
	height: 13.3vh;
}

.banana {
	width: 7.8vh;
	height: 7.8vh;
}

.apple {
	width: 5.2vh;
	height: 6vh;
}

.salad {
	width: 10.3vh;
	height: 8.5vh;
}

.product {
	cursor: grab;
	touch-action: none;
}

.draggable {
	transform: scale(1.2);
	opacity: 0.5;
	transition: transform 0.3s;
}

.pay {
	display: none;
	width: 29vh;
	height: 10vh;
	background-color: #fce000;
	border: #fce000;
	border-radius: 16px;
	font-size: 2.6vh;
	position: absolute;
	bottom: 8.3vh;
	left: calc(50% - 15vh);
	z-index: 200;
	cursor: pointer;
	animation: attantion 2s linear infinite;
}

@keyframes attantion {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes whatsup {
	0% {
		transform: translateX(-200%);
	}

	100% {
		transform: translate(0);
	}
}
